* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.APP {
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: -webkit-center;
  margin-top: 20px;
}

.phone {
  padding-top: 30px;
  margin: 20px;
  width: 300px;
  height: 80vh;
  border: 5px solid black;
  border-radius: 30px;
}

.mode {
  width: 100px;
}
